<div class="page-header text-center">
	<h1>NOME DA CLASSE AQUI</h1> 
</div>

<form name="formulario" class="row">
	<div class="col-md-6">	
		<div class="form-group">
			<label>Nome da nova classe</label>
			<input name="titulo" class="form-control">
		</div> <!-- FIM DO FORM-GROUP -->
		<div class="form-group">
			<label>URL da imagem</label>
			<input name="url" class="form-control">
		</div>
		<div class="form-group">
			<label>Nivel um da classe</label>
			<input name="nivelUm" class="form-control">
		</div>
		<div class="form-group">
			<label>Nivel dois da classe</label>
			<input name="nivelDois" class="form-control">
		</div>
		<div class="form-group">
			<label>Nivel três da classe</label>
			<input name="nivelTres" class="form-control">
		</div>
		<div class="form-group">
			<label>Nivel quatro da classe</label>
			<input name="nivelQuatro" class="form-control">
		</div>
		<div class="form-group">
			<label>Nivel cinco da classe</label>
			<input name="nivelCinco" class="form-control">
		</div>
		<div class="form-group">
			<label>Nivel seis da classe</label>
			<input name="nivelSeis" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">
			Salvar
		</button>
		<a href="#/principal" class="btn btn-primary">Voltar</a>
	</div><!-- FIM DA COL-MD-6 -->	
	<div class="col-md-6">
		<minha-foto></minha-foto>
	</div>
</form>